html {
	text-align: center;
}

body {
	color: gray;
	background-color: #d0e4fe;
}

#clock {
	font-size: 60px;
}

.header {
	font-size: 70px;
}

.cold {
	background-color: #95A5A6;
}

.chilly {
	background-color: #1ABC9C;
}

.nice {
	background-color: #2980B9;
}

.warm {
	background-color: #E67E22;
}

.hot {
	background-color: #E74C3C;
}